<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Connection Strings -->
	<connectionStrings>
		<add name="attendanceDB"
			 connectionString="Data Source=DESKTOP-3460B5T\MSSQLSERVER01;Initial Catalog=attendanceDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- App Settings (optional) -->
	<appSettings>
		<add key="AppTitle" value="StudentSync Attendance Management System" />
	</appSettings>

</configuration>
